{% include 'ax5.html' %}


<table class="box day" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        page: { display: false  }
                    }" style="height: 100%;"></div>
        </td>

    </tr>
</table>


<script type="text/javascript" src="{{ url_for('static',filename='datepicker.js') }} "></script>
<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>
<script type="text/javascript">


   var _data = [];
    var  gridList = [];
    var  gridList1 = [];
    var result = [];

    load()


    function load() {



        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "일자", label: "일자", width: 80, align: "center"},
                {key: "요일", label: "요일", width: 35, align: "center"},
                {key: "영업일수", label: "영업일수", width: 60, align: "center"},
                {key: "총할인", label: "합계" ,width: 60 , formatter: "money",align: "right"},
                {
                    label: "할인내역", columns: [ // child columns
                        {key: "일반", label: "일반" ,align: "right", formatter: "money"},
                        {key: "서비스", label: "서비스" ,align: "right", formatter: "money"},
                        {key: "제휴", label: "제휴" ,align: "right", formatter: "money"},
                        {key: "쿠폰", label: "쿠폰" ,align: "right", formatter: "money"},
                        {key: "회원", label: "회원" ,align: "right", formatter: "money"},
                        {key: "식권", label: "식권" ,align: "right", formatter: "money"},
                        {key: "포장", label: "포장" ,align: "right", formatter: "money"},
                        {key: "YAP", label: "YAP" ,align: "right", formatter: "money"}
                    ]
                },
                {
                    label: "Tax Refund", columns: [ // child columns
                        {key: "사후환급액", label: "사후환급액" ,align: "right", formatter: "money"},
                        {key: "즉시환급액", label: "즉시환급액" ,align: "right", formatter: "money"},
                        {key: "환급수수료", label: "환급수수료" ,align: "right", formatter: "money"}
                    ]
                }
            ],
            footSum: [
                [
                    {label: "SUMMARY", colspan: 2, align: "center"},
                    {key: "영업일수", collector: "sum", formatter: "money", align: "center"},
                    {key: "총할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "일반", collector: "sum", formatter: "money", align: "right"},
                    {key: "서비스", collector: "sum", formatter: "money", align: "right"},
                    {key: "제휴", collector: "sum", formatter: "money", align: "right"},
                    {key: "쿠폰", collector: "sum", formatter: "money", align: "right"},
                    {key: "회원", collector: "sum", formatter: "money", align: "right"},
                    {key: "식권", collector: "sum", formatter: "money", align: "right"},
                    {key: "포장", collector: "sum", formatter: "money", align: "right"},
                    {key: "YAP", collector: "sum", formatter: "money", align: "right"},



                ]]
        });

         $('#load').click(function () {
            gridList = [];


            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();


            $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
                _data = json;

            }).done(function () {

            loaddata();

            firstGrid.setData(gridList);

            });



            <!--for ( i=1 ; i<10 ; i++){-->
                <!--$('input[id=dates]', parent.frames["day"+i].document).val(dates)-->
                <!--$('input[id=datee]', parent.frames["day"+i].document).val(datee)-->
            <!--}-->

        })
    }



</script>

