
{% include 'ax5.html' %}


<table class="box day" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
                <div style="float:right;">
                    <button class="btn" id="excel" style="margin-top: 8">엑셀</button>
                </div>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 2,
                        showLineNumber: true,
                        page: { display: false  }
                    }" style="height: 100%;"></div>
        </td>

    </tr>
</table>

<script type="text/javascript" src="{{ url_for('static',filename='datepicker.js') }} "></script>
<script type="text/javascript" src="{{ url_for('static',filename='gridList.js') }} "></script>

<script type="text/javascript">

    var _data = [];
    var  gridList = [];
    var  gridList1 = [];
    var result = [];
    var functime = [ { "명칭" : '심야' , '시작' : '00' , '끝' : '06'  } ,
                     { "명칭" : '아침' , '시작' : '06' , '끝' : '11'  } ,
                     { "명칭" : '점심' , '시작' : '11' , '끝' : '16'  } ,
                     { "명칭" : '저녁' , '시작' : '16' , '끝' : '24'  } ]

    var footsum = [
                        {label: "합계", colspan: 1, align: "center"},
                        {key: "요일", align: "center"},
                        {key: "영업일수", collector: "sum", formatter: "money", align: "center"},
                        {key: "실매출", collector: "sum", formatter: "money", align: "right"},
                        {key: "영수건수", collector: "sum", formatter: "money", align: "right"},
                        {key: "고객수" , collector: "sum", formatter: "money", align: "right"},
                        {key: "사후환급액", collector: "sum", formatter: "money", align: "right"},
                        {key: "즉시환급액", collector: "sum", formatter: "money", align: "right"},
                        {key: "환급수수료", collector: "sum", formatter: "money", align: "right"},

                    ]

    load()



    function load() {

        data = [
                {key: "일자", label: "시간대별", width: 80, align: "center"},
                {key: "요일", label: "요일", width: 35, align: "center"},
                {key: "영업일수", label: "영업일수", width: 60, align: "center"},
                {
                    label: "합계", columns: [ // child columns
                        {key: "실매출", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "영수건수", label: "매출건수" ,width: 60 ,align: "right"},
                        {key: "고객수", label: "고객수" ,width: 50},
                    ]
                },
                {
                    label: "Tax Refund", columns: [ // child columns
                        {key: "사후환급액", label: "사후환급액" ,formatter: "money",align: "right"},
                        {key: "즉시환급액", label: "즉시환급액" ,formatter: "money",align: "right"},
                        {key: "환급수수료", label: "환급수수료" ,formatter: "money",align: "right"}
                    ]
                }
            ]


        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: data,
            footSum: [footsum]
        });

        $('#excel').click(function () {
            firstGrid.exportExcel("grid-to-excel.xls")
        })

        $('#load').click(function () {
            gridList = [];


            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();


            $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
                _data = json;

            }).done(function () {

            loaddata();

            time = [];

            load()

            for ( i in data0) {
                for ( j in data0[i]['영수증별'] ) {
                        if ( time[data0[i]['영업일자']] == undefined ) { time[data0[i]['영업일자']] = [] }
                        var temp = data0[i]['영수증별'][j]['주문일시'].substr(0,2)


                        for( each in functime ) {

                                if ( temp >= functime[each]['시작'] && temp < functime[each]['끝'] ) {
                                    if ( time[data0[i]['영업일자']][functime[each]['명칭']] == undefined ) {
                                        time[data0[i]['영업일자']][functime[each]['명칭']] = { '영수건수' : 0 , '실거래액' : 0  }
                                    }
                                    time[data0[i]['영업일자']][functime[each]['명칭']]['영수건수'] += 1
                                    time[data0[i]['영업일자']][functime[each]['명칭']]['실거래액'] += data0[i]['영수증별'][j]['실거래액']

                                }

                        }


                }
            }
            n=0; y=0
            t_gridList = [];

            for ( each in functime ) {

                data.push( {'label' : functime[each]['명칭']+"["+functime[each]['시작']+"~"+functime[each]['끝']+"]" , columns:
                                [ {key : 't실매출'+functime[each]['명칭'], label: "실매출" ,collector: "sum", formatter: "money", align: "center" },
                                  {key : 't매출건수'+functime[each]['명칭'], label: "매출건수" ,collector: "sum", formatter: "money", align: "center" },
                                  {key : 't고객수'+functime[each]['명칭'], label: "고객수" ,collector: "sum", formatter: "money", align: "center" }

                    ]}
                );

                footsum.push( {key : 't실매출'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"} )
                footsum.push( {key : 't매출건수'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"})
                footsum.push( {key : 't고객수'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"})

                console.log(footsum)


                for ( i in time ) {
                    for ( j in gridList ) {
                        if ( gridList[j]['t실매출' + functime[each]['명칭']] == undefined ) {
                            gridList[j]['t실매출' + functime[each]['명칭']] = 0
                            gridList[j]['t매출건수' + functime[each]['명칭']] = 0
                        }


                        if( i == gridList[j]['일자'] ) {
                            for( k in time[i] ) {
                                if ( functime[each]['명칭'] == k ) {
                                    gridList[j]['t실매출'+functime[each]['명칭']] += time[i][k]['실거래액']
                                    gridList[j]['t매출건수'+functime[each]['명칭']] += time[i][k]['영수건수']
                                }
                            }

                        }

                    }
                }



                n++

            }


            firstGrid = new ax5.ui.grid({
                target: $('[data-ax5grid="first-grid"]'),
                columns: data,
                footSum: [footsum ]
            });



            firstGrid.setData(gridList);

            });



            <!--for ( i=1 ; i<10 ; i++){-->
                <!--$('input[id=dates]', parent.frames["day"+i].document).val(dates)-->
                <!--$('input[id=datee]', parent.frames["day"+i].document).val(datee)-->
            <!--}-->



        })

    }



</script>

