
<table class="box day" >
    <tr>
        <td>

            <table  style="border :1px solid white; width : 100%">
            <table class="func" style="float:left;width: 100%;" >
                <tr>
                    <th>
                     외식테이블
                    </th>
                </tr>
                <tr>
                    <td>
                        <div data-ax5grid="first-grid4" data-ax5grid-config="{
                                    showLineNumber: true,
                                   header: { align: 'center' },
                                     page: { display: false  },
                                }" style="height:500px;"></div>
                    </td>

                </tr>

            </table>
              </table>
        </td>

    </tr>
</table>



<script type="text/javascript">

var firstGrid4;


 function load4() {



        firstGrid4 = new ax5.ui.grid({
        target: $('[data-ax5grid="first-grid4"]'),
        columns: [
                {key: "테이블", label: "테이블", width: 140, align: "left",treeControl: true},
                {key: "속성", label: "속성" ,width: 60 ,align: "right"},
                {key: "평균점유시간", label: "평균점유시간(시간:분)" ,width: 100 ,align: "right" },
                {key: "회전수", label: "회전수" ,width: 80 , formatter: "money",align: "right"},
                {key: "고객수", label: "고객수" ,width: 80 , formatter: "money",align: "right"},
                {key: "총매출", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                {key: "할인액", label: "할인액" ,width: 80 , formatter: "money",align: "right"},
                {key: "봉사료", label: "봉사료" ,width: 80 , formatter: "money",align: "right"},
                {key: "실매출", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
            ],
            tree: {
                use: true,
                indentWidth: 10,
                arrowWidth: 15,
                iconWidth: 18,
                icons: {
                    openedArrow: '<i class="fa fa-caret-down" aria-hidden="true"></i>',
                    collapsedArrow: '<i class="fa fa-caret-right" aria-hidden="true"></i>',
                    groupIcon: '<i class="fa fa-folder-open" aria-hidden="true"></i>',
                    collapsedGroupIcon: '<i class="fa fa-folder" aria-hidden="true"></i>',
                    itemIcon: '<i class="fa fa-circle" aria-hidden="true"></i>'
                },
                columnKeys: {
                    parentKey: "pid",
                    selfKey: "id"
                }
            }
    });

        $('#excel').click(function () {
            firstGrid4.exportExcel("grid-to-excel.xls")
        })

  }



function loaddata4() {

    gridList = [];
    data0 = [];


    var dates = $('input[id=dates]').val();
    var datee = $('input[id=datee]').val();

    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
        _data = json;

    }).done(function () {

    for( i in _data['일자별'] ) {
        data0.push(_data['일자별'][i]);
    }

    console.log(_data)
    console.log(data0)

    group = [];

    for ( i in data0) {
        if (group[i] == undefined) { group[i] = {  '회전수' :0 , '고객수' :0, '총매출' :0 , '할인액' : 0 , '봉사료' : 0 , '실매출' : 0  }; }

        for (j in data0[i]['테이블별']) {

            group[i]['회전수'] += data0[i]['테이블별'][j]['영수건수']
            group[i]['고객수'] += data0[i]['테이블별'][j]['영수건수']
            group[i]['총매출'] += data0[i]['테이블별'][j]['총거래액']
            group[i]['할인액'] += data0[i]['테이블별'][j]['총할인액']
            <!--group[i]['봉사료'] += data0[i]['테이블별'][j]['봉사료']-->
            group[i]['실매출'] += data0[i]['테이블별'][j]['실거래액'];


            group[i]['회전수'+j] = data0[i]['테이블별'][j]['영수건수'];
            group[i]['고객수'+j] = data0[i]['테이블별'][j]['영수건수']
            group[i]['총매출'+j] = data0[i]['테이블별'][j]['총거래액']
            group[i]['할인액'+j] = data0[i]['테이블별'][j]['총할인액']
            <!--group[i]['봉사료'+j] = data0[i]['테이블별'][j]['봉사료']-->
            group[i]['실매출'+j] = data0[i]['테이블별'][j]['실거래액'];
        }

    }

    n=0; y=0;
    gridList[n] = { id : y , '테이블' : '전체'  ,'속성' :'' , '평균점유시간' :'', '회전수' :0 , '고객수' :0, '총매출' :0 , '할인액' : 0 , '봉사료' : 0 , '실매출' : 0 }
    for ( i in group ) {

        gridList[n]['회전수'] += group[i]['회전수']
        gridList[n]['고객수'] += group[i]['고객수']
        gridList[n]['총매출'] += group[i]['총매출']
        gridList[n]['할인액'] += group[i]['할인액']
        <!--gridList[n]['봉사료'] += group[i]['봉사료']-->
        gridList[n]['실매출'] += group[i]['실매출']

    }
    n++;

    for ( each1 in _data['테이블목록'] ) {
        gridList[n] = {pid : y , id : n , '테이블' : _data['테이블목록'][each1]['그룹명'] ,'속성' :'' , '평균점유시간' :'', '회전수' :0 , '고객수' :0, '총매출' :0 , '할인액' : 0 , '봉사료' : 0 , '실매출' : 0 };

        for ( k in data0 ) {
            for ( each2 in data0[k]['테이블별'] ) {
                var e = each2.split('-')

                if ( e[0] == each1 ) {
                    for ( i in group ) {
                        if ( group[i]['회전수'+each2] != undefined ){
                            gridList[n]['회전수'] += group[i]['회전수'+each2]
                            gridList[n]['고객수'] += group[i]['고객수'+each2]
                            gridList[n]['총매출'] += group[i]['총매출'+each2]
                            gridList[n]['할인액'] += group[i]['할인액'+each2]
                            <!--gridList[n]['봉사료'] += group[i]['봉사료'+each2]-->
                            gridList[n]['실매출'] += group[i]['실매출'+each2]

                        }

                    }
                }
            }
        }




        var nn = n;
        n++

        for ( j in data0 ) {
            for ( each in data0[j]['테이블별'] ) {
                console.log(each1)

                var e = each.split('-')

                if ( e[0] == each1 ) {
                    gridList[n] = {pid : nn , id : n , '테이블' : _data['테이블목록'][0]['tbls'][e[1]]['name'] ,'속성' :'' , '평균점유시간' :'', '회전수' :0 , '고객수' :0, '총매출' :0 , '할인액' : 0 , '봉사료' : 0 , '실매출' : 0 };

                    for ( i in group ) {
                        if ( group[i]['회전수'+each] != undefined ){
                            gridList[n]['회전수'] += group[i]['회전수'+each]
                            gridList[n]['고객수'] += group[i]['고객수'+each]
                            gridList[n]['총매출'] += group[i]['총매출'+each]
                            gridList[n]['할인액'] += group[i]['할인액'+each]
                            <!--gridList[n]['봉사료'] += group[i]['봉사료'+each]-->
                            gridList[n]['실매출'] += group[i]['실매출'+each]

                        }

                    }
                    n++ ;
                }
            }
        }

    nn++;
    }



    console.log(gridList)



    firstGrid4.setData(gridList);


    });



}



</script>


