
<table class="box day" >
    <tr>
        <td>

            <table  style="border :1px solid white; width : 100%;">
            <table class="func" style="float:left;width: 45%;height:95%" >
                <tr>
                    <th>
                     상품분류별
                    </th>
                </tr>
                <tr>
                    <td>
                        <div data-ax5grid="first-grid2" data-ax5grid-config="{
                                    showLineNumber: true,
                                   header: { align: 'center' },
                                     page: { display: false  },
                                     sortable: true,
                                }" style="height:500px;"></div>
                    </td>

                </tr>

            </table>
            <table class="func" style="width: 54%; height:95% " >
                <tr>
                    <th>
                     매출상세 <span id="범위"></span><button  style="float: right" onclick="">엑셀</button>
                    </th>
                </tr>
                <tr>
                    <td>
                        <div data-ax5grid="second-grid2" data-ax5grid-config="{
                                    showLineNumber: true,
                                    header: { align: 'center' },
                                     page: { display: false  },
                                     sortable: true,
                                     <!--showRowSelector: true,-->
                                }" style="height:500px;"></div>
                    </td>

                </tr>

            </table>
              </table>
        </td>

    </tr>
</table>




<script type="text/javascript">


var _data = []; var data0 =[]; var time = []; var t_gridList = [];
var gridList = [];
var gridList1 = [];
var firstGrid2; var secondGrid2 ;



function load2() {


    firstGrid2 = new ax5.ui.grid({
        target: $('[data-ax5grid="first-grid2"]'),
        columns: [
                {key: "상품분류", label: "상품분류", width: 140, align: "left",treeControl: true},
                {key: "수량", label: "수량" ,width: 60 ,align: "right"},
                {key: "실매출", label: "실매출" ,width: 80 ,align: "right" ,formatter: function(){ return '<a onClick=detail2("' + this.item.상품분류 + '"); >' + ax5.util.number(this.value,{"money": true})  + '</a>'; }},
                {key: "매출비율", label: "매출비율" ,width: 80 , formatter: "money",align: "right"}
            ],
            tree: {
                use: true,
                indentWidth: 10,
                arrowWidth: 15,
                iconWidth: 18,
                icons: {
                    openedArrow: '<i class="fa fa-caret-down" aria-hidden="true"></i>',
                    collapsedArrow: '<i class="fa fa-caret-right" aria-hidden="true"></i>',
                    groupIcon: '<i class="fa fa-folder-open" aria-hidden="true"></i>',
                    collapsedGroupIcon: '<i class="fa fa-folder" aria-hidden="true"></i>',
                    itemIcon: '<i class="fa fa-circle" aria-hidden="true"></i>'
                },
                columnKeys: {
                    parentKey: "pid",
                    selfKey: "id"
                }
            }
    });

    secondGrid2 = new ax5.ui.grid({
            target: $('[data-ax5grid="second-grid2"]'),
            columns: [
                {key: "상품코드", label: "상품코드", formatter: "money" ,align: "center"},
                {key: "상품명", label: "상품명",align: "left",width: 150},
                {key: "수량", label: "수량",  align: "right"},
                {key: "실매출", label: "실매출", formatter: "money" , align: "right"},
                ],
            footSum: [
                [
                    {label: "합계", colspan: 2, align: "center"},
                    {key: "수량", collector: "sum", formatter: "money", align: "right"},
                    {key: "실매출", collector: "sum", formatter: "money", align: "right"},
                ]]

        });

}

function loaddata2() {

    gridList = [];
    data0 = [];


    var dates = $('input[id=dates]').val();
    var datee = $('input[id=datee]').val();

    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
        _data = json;

    }).done(function () {

    for( i in _data['일자별'] ) {
        data0.push(_data['일자별'][i]);
    }

    group = [];

    for ( i in data0) {
        if (group[i] == undefined) { group[i] = { '실매출' : 0 ,'수량' :0     }; }
        group[i]['실매출'] += data0[i]['실거래액'];

        for (j in data0[i]['분류별']) {
            group[i]['수량'] += data0[i]['분류별'][j]['영수건수']
            group[i]['실매출'+j] = data0[i]['분류별'][j]['실거래액'];
            group[i]['수량'+j] = data0[i]['분류별'][j]['영수건수'];
        }

    }

    n=0; y=0
    gridList[n] = { id : y , '상품분류' : '전체'  ,'수량' :0 , '실매출' :0 , '매출비율' : 0 }
    for ( i in group ) {

        gridList[n]['수량'] += group[i]['수량']
        gridList[n]['실매출'] += group[i]['실매출']
        gridList[n]['매출비율'] = '100.00'

    }
    n++

    for ( each in data0[i]['분류별'] ) {

        gridList[n] = {pid : y , id : n , '상품분류' : _data['상품분류'][each] ,'수량' :0 , '실매출' :0 , '매출비율' : 0  };

        for ( i in group ) {
            if ( group[i]['수량'+each] != undefined ){
                gridList[n]['수량'] += group[i]['수량'+each]
                gridList[n]['실매출'] += group[i]['실매출'+each]

            }

        }
        n++
    }

    for ( i in gridList ) {
        if ( i != 0 ) gridList[i]['매출비율'] =  (parseInt(gridList[i]['실매출']) / parseInt(gridList[0]['실매출'])  * 100).toFixed(2);


    }

    firstGrid2.setData(gridList);


    });

}



function detail2(t) {

    gridList1 = [];
    var t_gridList1 = [];
    var n=0; var n=0;
    $('#범위').text(t)

    switch(t) {
                case '전체':
                    for ( i in data0) {
                        for ( j in data0[i]['상품별'] ) {
                            if ( t_gridList1[j] == undefined ) {   t_gridList1[j] = { '상품코드' : j , '상품명' : "" , '수량' : 0 , '실매출' : 0 }   }
                            t_gridList1[j]['상품명'] = _data['상품목록'][j]
                            t_gridList1[j]['수량'] += data0[i]['상품별'][j]['영수건수']
                            t_gridList1[j]['실매출'] += data0[i]['상품별'][j]['실거래액']
                        }
                    }
                    for ( i in t_gridList1) {
                        gridList1.push( t_gridList1[i] );
                    }
                    break;

                default:

                     for ( i in data0) {
                            for ( j in data0[i]['상품별'] ) {
                                if ( t == _data['상품분류'][data0[i]['상품별'][j]['ppi']] ) {
                                    if ( t_gridList1[j] == undefined ) {   t_gridList1[j] = { '상품코드' : j , '상품명' : "" , '수량' : 0 , '실매출' : 0 }   }
                                    t_gridList1[j]['상품명'] = _data['상품목록'][j]
                                    t_gridList1[j]['수량'] += data0[i]['상품별'][j]['영수건수']
                                    t_gridList1[j]['실매출'] += data0[i]['상품별'][j]['실거래액']
                                }
                            }
                    }
                    for ( i in t_gridList1) {
                        gridList1.push( t_gridList1[i] );
                    }

                    break;

    }

    secondGrid2.setData(gridList1);
}


</script>


