{% include 'ax5.html' %}
<table class="box day" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>&nbsp&nbsp<input type="checkbox" id="hide" >이력없는 항목표시
                <div style="float:right;">
                    <button class="btn" id="excel" style="margin-top: 8">엑셀</button>
                </div>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid3" data-ax5grid-config="{
                                    showLineNumber: true,
                                   header: { align: 'center' },
                                     page: { display: false  },
                                }" style="height:500px;"></div>
        </td>

    </tr>
</table>


<script type="text/javascript" src="{{ url_for('static',filename='datepicker.js') }} "></script>
<script type="text/javascript">
  var _data = [];var data0 = [];var a = 0;
    var  gridList = [];
    var  gridList1 = [];
var firstGrid3;

load3()

 function load3() {

        data3 = [
                {key: "상품코드", label: "상품코드", width: 80, align: "center"},
                {key: "상품명", label: "상품명", width: 80, align: "center"},
            ]

        footsum3 = [
                        {label: "합계", colspan: 1, align: "center"},
                        {key : "상품명" ,  align: "center"}
                    ]


        firstGrid3 = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid3"]'),
            columns: data3,
            footSum: [footsum3]
        });

        $('#excel').click(function () {
            firstGrid3.exportExcel("grid-to-excel.xls")
        })

  }



function loaddata3() {
            gridList = []; data0 = [];


            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();


            $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
                _data = json;

            }).done(function () {

            load3();

            time = [];

            for( i in _data['일자별'] ) {
                data0.push(_data['일자별'][i]);
            }


            for ( i in data0) {
                for ( j in data0[i]['상품별'] ) {
                        if ( time[j] == undefined ) { time[j] = [] }
                        for ( k in data0[i]['영수증별'] ) {
                            var temp = data0[i]['영수증별'][k]['주문일시'].substr(0,2)

                            for ( l in data0[i]['영수증별'][k]['상품'] ) {
                                if ( l == j ) {
                                    for( e =0 ; e < 24 ; e ++ ) {
                                        var n3 = ("0" + e).slice(-2)
                                        if ( time[j][n3] == undefined ) {
                                            time[j][n3] = { '영수건수' : 0 , '실거래액' : 0  }
                                        }
                                        if ( temp == n3 ) {
                                            time[j][n3]['영수건수'] += 1
                                            time[j][n3]['실거래액'] += data0[i]['영수증별'][k]['상품'][l]['실거래액']
                                        }


                                    }
                                }
                            }
                        }



                }
            }


            n=0; y=0
            t_gridList = [];

            for (e =0 ; e < 24 ; e ++  ) {
                var n3 = ("0" + e).slice(-2)
                data3.push( {'label' : n3+'시' , columns:
                                [ {key : 't수량'+n3, label: "수량" ,collector: "sum", formatter: "money", align: "right" },
                                  {key : 't매출액'+n3, label: "매출액" ,collector: "sum", formatter: "money", align: "right" },
                    ]}
                );

                footsum3.push( {key : 't수량'+n3 ,collector: "sum", formatter: "money", align: "right"} )
                footsum3.push( {key : 't매출액'+n3 ,collector: "sum", formatter: "money", align: "right"})

            }

            for ( i in time ) {
                if ( gridList[n] == undefined ) gridList[n] = {}
                gridList[n]['상품코드'] = i
                gridList[n]['상품명'] =  _data['상품목록'][i]


                for (e =0 ; e < 24 ; e ++  ) {
                    var n3 = ("0" + e).slice(-2)
                    gridList[n]['t수량'+n3] = time[i][n3]['영수건수']
                    gridList[n]['t매출액'+n3] = time[i][n3]['실거래액']

                }
                n++
            }


            if ( $("#hide").is(":checked")  == false ) {
                remove(gridList,data3,footsum3)
            }

            firstGrid3 = new ax5.ui.grid({
                target: $('[data-ax5grid="first-grid3"]'),
                columns: data3,
                footSum: [footsum3 ]
            });


            firstGrid3.setData(gridList);

            });



            <!--for ( i=1 ; i<10 ; i++){-->
                <!--$('input[id=dates]', parent.frames["day"+i].document).val(dates)-->
                <!--$('input[id=datee]', parent.frames["day"+i].document).val(datee)-->
            <!--}-->



}

$('#load').click(function () {
    loaddata3()
});


$("#hide").click(function () {
  if ( gridList.length != 0 ) {
    loaddata3()
  }
});

function remove(r,d,f) {

    d0 = {};
    d1 = {};
    a = []; b = [];

    d0 = r

    for( i in d0 ) {
        for ( j in d0[i] ) {
            if (typeof d1[j] == "undefined" ) {  d1[j] = 0 }
            d1[j] = parseInt(d1[j]) + parseInt(d0[i][j])
        }

    }
    for ( i in d1 ) {
        if ( d1[i] == 0  ) {
            for ( j in d0 ) {
                if ( d0[j][i] == 0 ) a.push(i)
            }

        }

    }
    for ( i in a) {
        for ( j in d ) {
            if ( a[i] == d[j]['key'] ) {
                const itemToFind = d.find(function(item) {return item.key == a[i]} )
                const idx = d.indexOf(itemToFind)
                if (idx > -1) d.splice(idx, 1)

                const itemToFind3 = f.find(function(item) {return item.key == a[i]} )
                const idx3 = f.indexOf(itemToFind3)
                if (idx3 > -1) f.splice(idx3, 1)

            }
            if ( d[j].columns != undefined) {
                for ( k in d[j].columns ) {
                    if ( a[i] ==  d[j].columns[k].key ) {
                        const itemToFind1 = d[j].columns.find(function(item) {return item.key == a[i]} )
                        const idx1 = d[j].columns.indexOf(itemToFind1)
                        if (idx1 > -1) d[j].columns.splice(idx1, 1)

                        const itemToFind3 = f.find(function(item) {return item.key == a[i]} )
                        const idx3 = f.indexOf(itemToFind3)
                        if (idx3 > -1) f.splice(idx3, 1)
                    }
                }
            }
        }
    }

    for ( i in d ) {
        if ( d[i].columns != undefined) {
            if ( d[i].columns.length == 0 ) {
                b.push(d[i].label)
            }
        }
    }

    for ( i in b ) {
        for ( j in d ) {
            if ( b[i] == d[j]['label'] ) {
                const itemToFind2 = d.find(function(item) {return item.label == b[i]} )
                const idx2 = d.indexOf(itemToFind2)
                if (idx2 > -1) d.splice(idx2, 1)

                const itemToFind3 = f.find(function(item) {return item.key == a[i]} )
                const idx3 = f.indexOf(itemToFind3)
                if (idx3 > -1) f.splice(idx3, 1)
            }
        }
    }

}

</script>


