{% include 'ax5.html' %}

<table class="box week" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
                <div style="float:right;">
                    <button class="btn" id="excel" style="margin-top: 8">엑셀</button>
                </div>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 1,
                        showLineNumber: true,
                        page: { display: false  }
                    }" style="height: 270;"></div>
        </td>

    </tr>
</table>
<table class="box" >
    <tr>
        <td style="height:100%">
            <div class="chart">
                 <canvas id="myChart" height="20vh" width="100vw"></canvas>
            </div>

        </td>
    </tr>
</table>



<script type="text/javascript" src="{{ url_for('static',filename='datepicker.js') }} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript">

window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)',
};

    var _data = [];var data0 = [];var a = 0;
    var  gridList = [];
    var  gridList1 = [];

    load()



    var mask = new ax5.ui.mask();
    var modal = new ax5.ui.modal();
    var modalCallBack = function(){
        modal.close();
    };

    function modal1() {
            modal.open({
                width: 1000,
                iframe: {
                    method: "get",
                    url: "{{ url_for('_earnings_modal') }}",
                    param: "callBack=modalCallBack"
                },
                onStateChanged: function () {
                    // mask
                    if (this.state === "open") {
                        mask.open();
                    }
                    else if (this.state === "close") {
                        mask.close();
                    }
                }
            })
    }

    function load() {


            var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                <!--{key: "no", label: "No.", width: 80, align: "center" },-->
                {key: "대분류", label: "대분류", width: 90, align: "left" },
                {key: "상품코드", label: "상품코드", width: 100, align: "center"},
                {key: "바코드", label: "바코드", width: 100, align: "center"},
                {key: "상품명", label: "상품명", width: 100, align: "left"},
                {key: "수량", label: "수량", width: 100, align: "right"},
                {key: "총매출액", label: "총매출액", width: 100, align: "right"},
                {key: "총할인액", label: "총할인액", width: 100, align: "right"},
                {key: "실매출액", label: "실매출액", width: 100, align: "right"},
                {key: "일반할인", label: "일반할인", width: 100, align: "right"},
                {key: "서비스할인", label: "서비스할인", width: 100, align: "right"},
                {key: "제휴할인", label: "제휴할인", width: 100, align: "right"},
                {key: "쿠폰할인", label: "쿠폰할인", width: 100, align: "right"},
                {key: "회원할인", label: "회원할인", width: 100, align: "right"},
                {key: "식권할인", label: "식권할인", width: 100, align: "right"},
                {key: "포장할인", label: "포장할인", width: 100, align: "right"},
                {key: "YAP할인", label: "YAP할인", width: 100, align: "right"},

            ],
            body: {
                mergeCells: ["대분류"]
            },
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                    {key: "상품코드",  formatter: "money", align: "right"},
                    {key: "바코드", formatter: "money", align: "right"},
                    {key: "상품명",  formatter: "money", align: "left"},
                    {key: "수량", collector: "sum", formatter: "money", align: "right"},
                    {key: "총매출액" , collector: "sum", formatter: "money", align: "right"},
                    {key: "총할인액", collector: "sum", formatter: "money", align: "right"},
                    {key: "실매출액", collector: "sum", formatter: "money", align: "right"},
                    {key: "일반할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "서비스할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "제휴할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "쿠폰할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "회원할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "식권할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "포장할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "YAP할인", collector: "sum", formatter: "money", align: "right"},

                ]]
        });

        $('#excel').click(function () {
            firstGrid.exportExcel("grid-to-excel.xls")
        })

        $('#load').click(function () {

            gridList = []; gridList1 = []; data0 = [];


            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();


            $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"&"+datee, function (json) {
                _data = json;

            }).done(function () {

            for( i in _data['일자별'] ) {
                data0.push(_data['일자별'][i]);
            }
            for( i in data0) {
                 for (k in data0[i]['상품별']) {
                    if ( gridList[k] == undefined ) { gridList[k] = { '대분류' : '' ,'상품코드' : '' ,'상품명' : '' ,'수량' : 0 ,'총매출액' : 0 ,'총할인액' : 0 ,'실매출액' : 0  } }

                    gridList[k]['대분류'] = _data['상품분류'][data0[i]['상품별'][k]['ppi']]
                    gridList[k]['상품코드'] = k
                    gridList[k]['상품명'] = _data['상품목록'][k]
                    gridList[k]['수량'] += data0[i]['상품별'][k]['영수건수']
                    gridList[k]['총매출액'] += data0[i]['상품별'][k]['총거래액']
                    gridList[k]['총할인액'] += data0[i]['상품별'][k]['총할인액']
                    gridList[k]['실매출액'] += data0[i]['상품별'][k]['실거래액']

                }

            }

            gridList.sort(function(b,a) {
                return a['총매출액'] < b['총매출액'] ? -1 : a['총매출액'] > b['총매출액'] ? 1 : 0; });



            for ( i in gridList ) {
                    gridList1.push ( gridList[i] )
            }

            firstGrid.setData(gridList1);

            data = {};
            data1 = [];

            data = {
                datasets: [{
                    label: '상품별 매출(상위 20)',
                    data: data1,
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.grey,
                        window.chartColors.red,
                      ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: []
            };

            for ( i in gridList ) {
                if ( i < 20 ) {
                    data1.push( gridList[i]['총매출액'] )
                    data['labels'].push( gridList[i]['상품명'] )
                }
            }

            $("canvas").remove();
            $("div.chart").append('<canvas id="myChart" height="20vh" width="100vw"></canvas>');

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                            type: 'bar',
                            data: data,
                            options: {
                                responsive: true
                            }
                        });





            });



            <!--for ( i=1 ; i<10 ; i++){-->
                <!--$('input[id=dates]', parent.frames["day"+i].document).val(dates)-->
                <!--$('input[id=datee]', parent.frames["day"+i].document).val(datee)-->
            <!--}-->



        })

    }



</script>


