<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.css">
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5core/master/dist/ax5core.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-grid/master/dist/ax5grid.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/ax5ui/ax5ui-modal/master/dist/ax5modal.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/ax5ui/ax5ui-modal/master/dist/ax5modal.css" />

</head>
<body>

<button id="modal-close" class="btn btn-default" type="button" style="margin-top: 100px;">Close</button>

<script type="text/javascript">
    $(document.body).ready(function () {

        //parent.modal.css({height: $(document.body).height() + 10});
        parent.modal.align();

        var param = ax5.util.param(ax5.info.urlUtil().param);
        $("#modal-close").click(function () {
            //console.log(param.callBack);
            parent[param.callBack]();
        });
    });
</script>
</body>
</html>