{% include 'ax5.html' %}

<table class="box week" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 1,
                        page: { display: false  }
                    }" style="height: 270;"></div>
        </td>

    </tr>
</table>
<!--<table class="box" >-->
    <!--<tr>-->
        <!--<td style="height:100%">-->
            <!--<div class="chart">-->
                 <!--<canvas id="myChart" height="20vh" width="100vw"></canvas>-->
            <!--</div>-->

        <!--</td>-->
    <!--</tr>-->
<!--</table>-->



<script type="text/javascript" src="{{ url_for('static',filename='monthpicker.js') }} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

<script type="text/javascript">

var result = [];
var  gridList = [];
var  data0 = [];
var datag
var  week = new Array('일', '월', '화', '수', '목', '금', '토');
var functime = [ { "명칭" : '심야' , '시작' : '00' , '끝' : '06'  } ,
                     { "명칭" : '아침' , '시작' : '06' , '끝' : '11'  } ,
                     { "명칭" : '점심' , '시작' : '11' , '끝' : '16'  } ,
                     { "명칭" : '저녁' , '시작' : '16' , '끝' : '24'  } ]

var footsum = [
                        {label: "합계", colspan: 1, align: "center"},
                        {key: "총매출", collector: "sum", formatter: "money", align: "center"},
                        {key: "총할인", collector: "sum", formatter: "money", align: "right"},
                        {key: "실매출", collector: "sum", formatter: "money", align: "right"},
                        {key: "영수건수", collector: "sum", formatter: "money", align: "right"},
                        {key: "고객수" , collector: "sum", formatter: "money", align: "right"},
                    ]

load()



var mask = new ax5.ui.mask();
var modal = new ax5.ui.modal();
var modalCallBack = function(){
    modal.close();
};

function modal1() {
        modal.open({
            width: 600,
            iframe: {
                method: "get",
                url: "{{ url_for('_earnings_modal') }}",
                param: "callBack=modalCallBack"
            },
            onStateChanged: function () {
                // mask
                if (this.state === "open") {
                    mask.open();
                }
                else if (this.state === "close") {
                    mask.close();
                }
            }
        })
}

function load() {



       datag = [
                {key: "년월", label: "년-월", width: 80,  align: "center"},
                {
                    label: "합계", columns: [ // child columns
                        {key: "총매출", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "총할인", label: "총할인" ,width: 80 , formatter: "money",align: "right"},
                        {key: "실매출", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "영수건수", label: "매출건수" ,width: 60 ,align: "right"},
                        {key: "고객수", label: "고객수" ,width: 50,align: "right"},
                    ]
                }
            ]


        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: datag,
            footSum: [footsum]
        });



    $('#load').click(function () {
        datag = [
                {key: "년월", label: "년-월", width: 80,  align: "center"},
                {
                    label: "합계", columns: [ // child columns
                        {key: "총매출", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "총할인", label: "총할인" ,width: 80 , formatter: "money",align: "right"},
                        {key: "실매출", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "영수건수", label: "매출건수" ,width: 60 ,align: "right"},
                        {key: "고객수", label: "고객수" ,width: 50,align: "right"},
                    ]
                }
            ]
        gridList = [];
        data0 = [];
        var dates = $('input[id=dates]').val();
        var datee = $('input[id=datee]').val();




         $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"-01&"+datee+"-31", function (json) {
                _data = json;

            }).done(function () {


            time = [];
            data = {};
            data1 = [];


            data = {
                datasets: [{
                    label: '요일별 종합현황',
                    data: data1,
                    backgroundColor: [
                    'rgba(255, 99, 132)',
                    'rgba(54, 162, 235)',
                    'rgba(255, 206, 86)',
                    'rgba(75, 192, 192)',
                    'rgba(153, 102, 255)',
                    'rgba(255, 159, 64)',
                    'rgba(255, 206, 86)',
                    'rgba(54, 162, 235)',
                      ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: []
            };

            for( i in _data['일자별'] ) {
                data0.push(_data['일자별'][i]);
            }

            for ( i in data0 ) {
                    y = new Date(data0[i]['영업일자']).getFullYear()
                    d = new Date(data0[i]['영업일자']).getMonth()+1

                    for ( j=1; j<13 ; j++ ) {
                            if ( j == d ) {
                                nj = ("0" + j).slice(-2)

                                if ( gridList[y+"-"+nj] == undefined ) { gridList[y+"-"+nj] = {'년월' : ""  ,'실매출' : 0,'영수건수' : 0,'고객수' : 0 } };

                                gridList[y+"-"+nj]['년월'] = y+"-"+nj
                                gridList[y+"-"+nj]['총매출'] += data0[i]['총거래액'];
                                gridList[y+"-"+nj]['총할인'] += data0[i]['총할인액'];
                                gridList[y+"-"+nj]['실매출'] += data0[i]['실거래액'];
                                gridList[y+"-"+nj]['영수건수'] += data0[i]['영수건수'];
                                gridList[y+"-"+nj]['고객수'] += data0[i]['영수건수'];


                            }
                    }
            }
            console.log(gridList)



            for ( i in data0) {
                y = new Date(data0[i]['영업일자']).getFullYear()
                d = new Date(data0[i]['영업일자']).getMonth()+1
                for ( k=1; k<13 ; k++ ) {
                    if ( k == d ) {
                        for ( j in data0[i]['영수증별'] ) {
                                nj = ("0" + k).slice(-2)

                                if ( time[y+"-"+nj] == undefined ) { time[y+"-"+nj] = [] }
                                var temp = data0[i]['영수증별'][j]['주문일시'].substr(0,2)


                                for( each in functime ) {

                                        if ( temp >= functime[each]['시작'] && temp < functime[each]['끝'] ) {
                                            if ( time[y+"-"+nj][functime[each]['명칭']] == undefined ) {
                                                time[y+"-"+nj][functime[each]['명칭']] = { '영수건수' : 0 , '실거래액' : 0  }
                                            }
                                            time[y+"-"+nj][functime[each]['명칭']]['영수건수'] += 1
                                            time[y+"-"+nj][functime[each]['명칭']]['실거래액'] += data0[i]['영수증별'][j]['실거래액']

                                        }

                                }
                        }
                    }
                }
            }

            console.log(time)
            for ( each in functime ) {

                datag.push( {'label' : functime[each]['명칭']+"["+functime[each]['시작']+"~"+functime[each]['끝']+"]" , columns:
                                [ {key : 't실매출'+functime[each]['명칭'], label: "실매출" ,collector: "sum", formatter: "money", align: "center" },
                                  {key : 't매출건수'+functime[each]['명칭'], label: "매출건수" ,collector: "sum", formatter: "money", align: "center" },
                                  {key : 't고객수'+functime[each]['명칭'], label: "고객수" ,collector: "sum", formatter: "money", align: "center" }

                    ]}
                );

                footsum.push( {key : 't실매출'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"} )
                footsum.push( {key : 't매출건수'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"})
                footsum.push( {key : 't고객수'+functime[each]['명칭'],collector: "sum", formatter: "money", align: "center"})

                for ( i in time ) {
                    for ( j in gridList ) {
                        if ( gridList[j]['t실매출' + functime[each]['명칭']] == undefined ) {
                            gridList[j]['t실매출' + functime[each]['명칭']] = 0
                            gridList[j]['t매출건수' + functime[each]['명칭']] = 0
                            gridList[j]['t고객수' + functime[each]['명칭']] = 0

                        }


                        if( i == j ) {
                            for( k in time[i] ) {
                                if ( functime[each]['명칭'] == k ) {
                                    gridList[j]['t실매출'+functime[each]['명칭']] += time[i][k]['실거래액']
                                    gridList[j]['t매출건수'+functime[each]['명칭']] += time[i][k]['영수건수']
                                    gridList[j]['t고객수'+functime[each]['명칭']] += time[i][k]['영수건수']
                                }
                            }

                        }

                    }
                }

                data['labels'].push( functime[each]['명칭']+"["+functime[each]['시작']+"~"+functime[each]['끝']+"]" )



            }



        firstGrid = new ax5.ui.grid({
                target: $('[data-ax5grid="first-grid"]'),
                columns: datag,
                footSum: [footsum ]
            });


        for ( i in gridList ) {
            result.push(gridList[i])
        }
        firstGrid.setData(result);



        var timedata = { '심야' : 0 ,'아침' : 0 ,'점심' : 0 ,'저녁' : 0  };

        for ( i in gridList ) {
            timedata['심야'] += gridList[i]['t실매출심야']
            timedata['아침'] += gridList[i]['t실매출아침']
            timedata['점심'] += gridList[i]['t실매출점심']
            timedata['저녁'] += gridList[i]['t실매출저녁']
        }
        for (i in timedata){
            data1.push( timedata[i] )
        }




        <!--$("canvas").remove();-->
        <!--$("div.chart").append('<canvas id="myChart" height="20vh" width="100vw"></canvas>');-->

        <!--var ctx = document.getElementById("myChart");-->
        <!--var myChart = new Chart(ctx, {-->
                        <!--type: 'pie',-->
                        <!--data: data,-->
                        <!--options: {-->
                            <!--responsive: true-->
                        <!--}-->
                    <!--});-->
    });
});




        <!--for ( i=1 ; i<10 ; i++){-->
            <!--$('input[id=dates]', parent.frames["week"+i].document).val(dates)-->
            <!--$('input[id=datee]', parent.frames["week"+i].document).val(datee)-->
        <!--}-->



}



</script>


