{% include 'ax5.html' %}

<table class="box month" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" data-picker-date="month" placeholder="yyyy-mm" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" data-picker-date="month" placeholder="yyyy-mm">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 1,
                        showLineNumber: true,
                        page: { display: false  }
                    }" style="height: 270;"></div>
        </td>

    </tr>
</table>



<script type="text/javascript" src="{{ url_for('static',filename='monthpicker.js') }} "></script>

<script type="text/javascript">


    load()



    var mask = new ax5.ui.mask();
    var modal = new ax5.ui.modal();
    var modalCallBack = function(){
        modal.close();
    };

    function modal1() {
            modal.open({
                width: 600,
                iframe: {
                    method: "get",
                    url: "{{ url_for('_earnings_modal') }}",
                    param: "callBack=modalCallBack"
                },
                onStateChanged: function () {
                    // mask
                    if (this.state === "open") {
                        mask.open();
                    }
                    else if (this.state === "close") {
                        mask.close();
                    }
                }
            })
    }

    function load() {


            var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                {key: "년월", label: "년-월", width: 80, align: "center" ,formatter: function(){
                    return '<a onClick=modal1(); >' + this.value + '</a>';
                }},
                {key: "영업일수", label: "영업일수", width: 60 ,align: "center"},
                {
                    label: "매출현황", columns: [ // child columns
                        {key: "총매출", label: "총매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "총할인", label: "총할인" ,width: 80 , formatter: "money",align: "right"},
                        {key: "실매출", label: "실매출" ,width: 80 , formatter: "money",align: "right"},
                        {key: "영수건수", label: "영수건수" ,width: 60 ,align: "right"},
                        {key: "영수단가", label: "영수단가" ,width: 80 , formatter: "money",align: "right"},
                        {key: "가액", label: "가액" ,width: 80 , formatter: "money",align: "right"},
                        {key: "부가세", label: "부가세" ,width: 80 , formatter: "money",align: "right"},

                    ]
                },
                {key: "봉사료", label: "봉사료", width: 80 ,align: "right"},
                {key: "에누리", label: "에누리", width: 80 ,align: "right"},
                {
                    label: "결제수단", columns: [ // child columns
                        {key: "결제합계", label: "결제합계" ,align: "right"},
                        {key: "단순현금", label: "단순현금" ,align: "right"},
                        {key: "현금영수", label: "현금영수" ,align: "right"},
                        {key: "신용카드", label: "신용카드" ,align: "right"},
                        {key: "외상", label: "외상" ,align: "right"},
                        {key: "상품권", label: "상품권" ,align: "right"},
                        {key: "식권", label: "식권" ,align: "right"},
                        {key: "회원포인트", label: "회원포인트" ,align: "right"},
                        {key: "제휴카드", label: "제휴카드" ,align: "right"},
                        {key: "사원카드", label: "사원카드" ,align: "right"},
                        {key: "모바일쿠폰", label: "모바일쿠폰" ,align: "right"},
                        {key: "캐시비", label: "캐시비" ,align: "right"},
                        {key: "선불카드", label: "선불카드" ,align: "right"}
                    ]
                },
                {
                    label: "포장/배달현황", columns: [ // child columns
                        {key: "일반", label: "일반" ,align: "right"},
                        {key: "점유율1", label: "점유율(%)"},
                        {key: "포장", label: "포장" ,align: "right"},
                        {key: "점유율2", label: "점유율(%)"},
                        {key: "배달", label: "배달" ,align: "right"},
                        {key: "점유율3", label: "점유율(%)"}

                    ]
                },
                {
                    label: "할인내역", columns: [ // child columns
                        {key: "일반", label: "일반" ,align: "right"},
                        {key: "서비스", label: "서비스" ,align: "right"},
                        {key: "제휴", label: "제휴" ,align: "right"},
                        {key: "쿠폰", label: "쿠폰" ,align: "right"},
                        {key: "회원", label: "회원" ,align: "right"},
                        {key: "식권", label: "식권" ,align: "right"},
                        {key: "포장", label: "포장" ,align: "right"},
                        {key: "YAP", label: "YAP" ,align: "right"}
                    ]
                },
                {
                    label: "Tax Refund", columns: [ // child columns
                        {key: "사후환급액", label: "사후환급액" ,align: "right"},
                        {key: "즉시환급액", label: "즉시환급액" ,align: "right"},
                        {key: "환급수수료", label: "환급수수료" ,align: "right"}
                    ]
                }
            ],
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                    {key: "영업일수", collector: "sum", align: "center"},
                    {key: "총매출", collector: "sum", formatter: "money", align: "center"},
                    {key: "총할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "실매출", collector: "sum", formatter: "money", align: "right"},
                    {key: "영수건수", collector: "sum", formatter: "money", align: "right"},
                    {key: "영수단가", collector: "sum", formatter: "money", align: "right"},
                    {key: "가액", collector: "sum", formatter: "money", align: "right"},
                    {key: "부가세", collector: "sum", formatter: "money", align: "right"},

                    {key: "d7"},
                    {key: "e1", collector: "sum", formatter: "money", align: "right"},
                    {key: "e2", collector: "sum", formatter: "money", align: "right"},
                    {key: "e3", collector: "sum", formatter: "money", align: "right"},
                    {key: "e4", collector: "sum", formatter: "money", align: "right"},
                    {key: "e5", collector: "sum", formatter: "money", align: "right"},
                    {key: "e6", collector: "sum", formatter: "money", align: "right"},
                    {key: "f1", collector: "sum", formatter: "money", align: "right"},
                    {key: "f2", collector: "sum", formatter: "money", align: "right"},
                    {key: "f3", collector: "sum", formatter: "money", align: "right"},
                    {key: "g", collector: "sum", formatter: "money", align: "right"},
                    {key: "h", collector: "sum", formatter: "money", align: "right"},
                    {key: "l5", collector: "sum", formatter: "money", align: "right"},


                ]]
        });



        $('#load').click(function () {




            var gridList = [];
            var week = new Array('일', '월', '화', '수', '목', '금', '토');
            var dates = $('input[id=dates]').val();
            var datee = $('input[id=datee]').val();
            var ys = new Date(dates).getFullYear()
            var ye = new Date(datee).getFullYear()
            var result = [];
            var data0 = [];

             $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"-01&"+datee+"-31", function (json) {
                _data = json;

            }).done(function () {

                for( i in _data['일자별'] ) {
                    data0.push(_data['일자별'][i]);
                }
                for ( i in data0 ) {
                        y = new Date(data0[i]['영업일자']).getFullYear()
                        d = new Date(data0[i]['영업일자']).getMonth()+1

                        for ( j=1; j<13 ; j++ ) {
                                if ( j == d ) {
                                    nj = ("0" + j).slice(-2)
                                    n = parseInt(data0[i]['총거래액']) / parseInt(data0[i]['영수건수'])

                                    if ( gridList[y+"-"+nj] == undefined ) { gridList[y+"-"+nj] = {'년월' : "" , '영업일수' :0 , '총매출' : 0, '총할인' : 0 ,'실매출' : 0, '영수건수' : 0 , '영수단가' : 0 , '가액' :0 , '부가세' : 0} };

                                    gridList[y+"-"+nj]['년월'] = y+"-"+nj
                                    gridList[y+"-"+nj]['영업일수'] += 1
                                    gridList[y+"-"+nj]['총매출'] += data0[i]['총거래액'];
                                    gridList[y+"-"+nj]['총할인'] += data0[i]['총할인액'];
                                    gridList[y+"-"+nj]['실매출'] += data0[i]['실거래액'];
                                    gridList[y+"-"+nj]['영수건수'] += data0[i]['영수건수'];
                                    gridList[y+"-"+nj]['영수단가'] += Math.round(n);
                                    gridList[y+"-"+nj]['가액'] += data0[i]['판매이익'];
                                    gridList[y+"-"+nj]['부가세'] += data0[i]['세금'];

                                }

                        }


                }
                for ( i in gridList ) {
                    result.push(gridList[i])
                }
                firstGrid.setData(result);
                })

             });





    }



</script>


