
{% include 'ax5.html' %}


<table class="box day" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
                <div style="float:right;">
                    <button class="btn" id="excel" style="margin-top: 8">엑셀</button>
                </div>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 3,
                        page: { display: false  }
                    }" style="height: 100%;"></div>
        </td>

    </tr>
</table>


<script type="text/javascript" src="{{ url_for('static',filename='monthpicker.js') }} "></script>

<script type="text/javascript">

var _data = []; var data0 = [];
var  gridList = [];
var  gridList1 = [];
var result = [];
var data =[] ; var sum = [];
var  week = new Array('일', '월', '화', '수', '목', '금', '토');
var firstGrid

load()


function load() {


    data = [
            {key: "년월", label: "년-월", width: 80, align: "center"},
            {key: "실매출", label: "실매출합계" ,width: 80 , formatter: "money",align: "right"},
            {key: "판매건수", label: "수량합계" ,width: 60 ,align: "right"},
        ]
     sum =[
                {label: "합계", colspan: 1, align: "center"},
                {key: "실매출", collector: "sum", formatter: "money", align: "right"},
                {key: "판매건수", collector: "sum", formatter: "money", align: "right"},
            ]


    firstGrid = new ax5.ui.grid({
        target: $('[data-ax5grid="first-grid"]'),
        columns: data ,
        footSum: [ sum         ]
    });
}

$('#excel').click(function () {
    firstGrid.exportExcel("grid-to-excel.xls")
})

$('#load').click(function () {
     gridList = [];
    _data = [];  data0 = [];

    var dates = $('input[id=dates]').val();
    var datee = $('input[id=datee]').val();


    $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"-01&"+datee+"-31", function (json) {
                _data = json;

            }).done(function () {



        load()

        for( i in _data['상품분류'] ) {

            data.push( {label: _data['상품분류'][i] , columns : [
                { key : '실매출'+i , label : "실매출" ,width: 80 , formatter: "money",align: "right"} ,
                { key : '수량'+i,  label : "수량" ,width: 60 ,align: "right"} ]}
                )
            sum.push( { key : '실매출'+i , collector: "sum", formatter: "money", align: "center"},
                      { key : '수량'+i, collector: "sum", align: "center"} )
        }

         firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: data ,
            footSum: [ sum
                ]
         });


        for( i in _data['일자별'] ) {
            data0.push(_data['일자별'][i]);
        }
        for( i in data0) {
            y = new Date(data0[i]['영업일자']).getFullYear()
            d = new Date(data0[i]['영업일자']).getMonth()+1
            for ( j=1; j<13 ; j++ ) {
                if ( j == d ) {
                    nj = ("0" + j).slice(-2)
                    for (k in data0[i]['분류별']) {
                        if ( gridList[y+"-"+nj] == undefined ) {

                            gridList[y+"-"+nj] = {'년월' : "" }
                            gridList[y+"-"+nj]['실매출'] = 0
                            gridList[y+"-"+nj]['판매건수'] = 0

                        }
                        gridList[y+"-"+nj]['년월'] = y+"-"+nj
                        gridList[y+"-"+nj]['실매출'+k] = 0
                        gridList[y+"-"+nj]['수량'+k] = 0

                        gridList[y+"-"+nj]['실매출'] +=  data0[i]['분류별'][k]['실거래액'];
                        gridList[y+"-"+nj]['판매건수'] +=  data0[i]['분류별'][k]['영수건수'];
                    }


                    for (k in data0[i]['분류별']) {
                        gridList[y+"-"+nj]['실매출'+k] += data0[i]['분류별'][k]['실거래액'];
                        gridList[y+"-"+nj]['수량'+k] += data0[i]['분류별'][k]['영수건수'];

                    }

                }
            }
        }

            for ( i in gridList ) {
                result.push(gridList[i])
            }
            firstGrid.setData(result);

        });



        <!--for ( i=1 ; i<10 ; i++){-->
            <!--$('input[id=dates]', parent.frames["day"+i].document).val(dates)-->
            <!--$('input[id=datee]', parent.frames["day"+i].document).val(datee)-->
        <!--}-->



})

</script>
