{% include 'ax5.html' %}

<table class="box week" >
    <tr>
        <th >
         <div class="row" >
            <div class="col-md-6">
                <label style=" margin-top: 8; float:left;">조회일자</label>
                <div class="input-group" data-ax5picker="basic" style="height:20px;width:300px; float:left;" >
                    <input id='dates' type="text" class="form-control" placeholder="yyyy/mm/dd" >
                    <span class="input-group-addon">~</span>
                    <input id='datee'type="text" class="form-control" placeholder="yyyy/mm/dd">
                    <span class="input-group-addon"><i class="fa fa-calendar-o"></i></span>
                </div>
                <button class="btn" id="load" style=" margin-top: 8">조회</button>
            </div>
        </div>
        </th>
    </tr>
    <tr>
        <td>
                 <div data-ax5grid="first-grid" data-ax5grid-config="{
                        header: { align: 'center' },
                        frozenColumnIndex: 1,
                        page: { display: false  }
                    }" style="height: 500;"></div>
        </td>

    </tr>
</table>
<!--<table class="box" >-->
    <!--<tr>-->
        <!--<td style="height:100%">-->
            <!--<div class="chart">-->
                 <!--<canvas id="myChart" height="20vh" width="100vw"></canvas>-->
            <!--</div>-->

        <!--</td>-->
    <!--</tr>-->
<!--</table>-->



<script type="text/javascript" src="{{ url_for('static',filename='monthpicker.js') }} "></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>
<script type="text/javascript">

window.chartColors = {
	red: 'rgb(255, 99, 132)',
	orange: 'rgb(255, 159, 64)',
	yellow: 'rgb(255, 205, 86)',
	green: 'rgb(75, 192, 192)',
	blue: 'rgb(54, 162, 235)',
	purple: 'rgb(153, 102, 255)',
	grey: 'rgb(201, 203, 207)',
};

var  gridList = [];
var  data0 = [];
var  week = new Array('일', '월', '화', '수', '목', '금', '토');
load()



var mask = new ax5.ui.mask();
var modal = new ax5.ui.modal();
var modalCallBack = function(){
    modal.close();
};

function modal1() {
        modal.open({
            width: 600,
            iframe: {
                method: "get",
                url: "{{ url_for('_earnings_modal') }}",
                param: "callBack=modalCallBack"
            },
            onStateChanged: function () {
                // mask
                if (this.state === "open") {
                    mask.open();
                }
                else if (this.state === "close") {
                    mask.close();
                }
            }
        })
}

function load() {


        var firstGrid = new ax5.ui.grid({
            target: $('[data-ax5grid="first-grid"]'),
            columns: [
                    {key: "년월", label: "년-월", width: 80, align: "center"},
                    {key: "총할인", label: "합계" ,width: 60 , formatter: "money",align: "right"},
                    {
                        label: "할인내역", columns: [ // child columns
                            {key: "일반", label: "일반" ,align: "right", formatter: "money"},
                            {key: "서비스", label: "서비스" ,align: "right", formatter: "money"},
                            {key: "제휴", label: "제휴" ,align: "right", formatter: "money"},
                            {key: "쿠폰", label: "쿠폰" ,align: "right", formatter: "money"},
                            {key: "회원", label: "회원" ,align: "right", formatter: "money"},
                            {key: "식권", label: "식권" ,align: "right", formatter: "money"},
                            {key: "포장", label: "포장" ,align: "right", formatter: "money"},
                            {key: "YAP", label: "YAP" ,align: "right", formatter: "money"}
                        ]
                    },
            ],
            footSum: [
                [
                    {label: "합계", colspan: 1, align: "center"},
                    {key: "총할인", collector: "sum", formatter: "money", align: "right"},
                    {key: "일반", collector: "sum", formatter: "money", align: "right"},
                    {key: "서비스", collector: "sum", formatter: "money", align: "right"},
                    {key: "제휴", collector: "sum", formatter: "money", align: "right"},
                    {key: "쿠폰", collector: "sum", formatter: "money", align: "right"},
                    {key: "회원", collector: "sum", formatter: "money", align: "right"},
                    {key: "식권", collector: "sum", formatter: "money", align: "right"},
                    {key: "포장", collector: "sum", formatter: "money", align: "right"},
                    {key: "YAP", collector: "sum", formatter: "money", align: "right"},
                ]]

        });



    $('#load').click(function () {

        gridList = [];
        data0 = [];
        var dates = $('input[id=dates]').val();
        var datee = $('input[id=datee]').val();
        var temp = {'일반': 0, '서비스' :0 , '제휴' :0 , '쿠폰' :0 , '회원' :0 , '식권' :0 , '포장' :0 , 'YAP' :0  };
         var result = [];


         $.getJSON("{{ url_for('_earnings_day' ) }}/"+"{{ store_id }}&"+dates+"-01&"+datee+"-31", function (json) {
                _data = json;

            }).done(function () {

            for( i in _data['일자별'] ) {
                data0.push(_data['일자별'][i]);
            }

            for ( i in data0 ) {
                    y = new Date(data0[i]['영업일자']).getFullYear()
                    d = new Date(data0[i]['영업일자']).getMonth()+1

                    for ( j=1; j<13 ; j++ ) {
                            if ( j == d ) {
                                nj = ("0" + j).slice(-2)
                                n = parseInt(data0[i]['총거래액']) / parseInt(data0[i]['영수건수'])

                                if (  gridList[y+"-"+nj] == undefined  ) { gridList[y+"-"+nj] = {'년월' : ""  , '총할인' : 0 ,'일반' : 0, '서비스' : 0 , '제휴' : 0 , '쿠폰' :0 , '회원' : 0,'식권' : 0,'포장' : 0,'YAP' : 0 }} ;

                                gridList[y+"-"+nj]['년월'] = y+"-"+nj
                                gridList[y+"-"+nj]['총할인'] += data0[i]['총할인액'];
                                gridList[y+"-"+nj]['일반'] += data0[i]['총할인액'];
                                gridList[y+"-"+nj]['서비스'] += 0
                                gridList[y+"-"+nj]['제휴'] += 0
                                gridList[y+"-"+nj]['쿠폰'] += 0
                                gridList[y+"-"+nj]['회원'] += 0
                                gridList[y+"-"+nj]['식권'] += 0
                                gridList[y+"-"+nj]['포장'] += 0
                                gridList[y+"-"+nj]['YAP'] += 0

                            }
                    }

                    temp['일반'] += data0[i]['총할인액'];
                    temp['서비스'] += 0
                    temp['제휴'] += 0
                    temp['쿠폰'] += 0
                    temp['회원'] += 0
                    temp['식권'] += 0
                    temp['포장'] += 0
                    temp['YAP'] += 0
            }
            console.log(gridList)
            for ( i in gridList ) {
                    result.push(gridList[i])
                }
            firstGrid.setData(result);

            data = {};
            data1 = [];

            data = {
                datasets: [{
                    label: '할인구분별 매출',
                    data: data1,
                    backgroundColor: [
                        window.chartColors.red,
                        window.chartColors.orange,
                        window.chartColors.yellow,
                        window.chartColors.green,
                        window.chartColors.blue,
                        window.chartColors.purple,
                        window.chartColors.grey,
                        window.chartColors.red,
                      ],
                }],

                // These labels appear in the legend and in the tooltips when hovering different arcs
                labels: []
            };

            for ( i in temp ) {
                data1.push( temp[i] )
                data['labels'].push( i )
            }

            $("canvas").remove();
            $("div.chart").append('<canvas id="myChart" height="20vh" width="100vw"></canvas>');

            var ctx = document.getElementById("myChart");
            var myChart = new Chart(ctx, {
                            type: 'pie',
                            data: data,
                            options: {
                                responsive: true
                            }
                        });
            console.log(temp)
        });
    });




        <!--for ( i=1 ; i<10 ; i++){-->
            <!--$('input[id=dates]', parent.frames["week"+i].document).val(dates)-->
            <!--$('input[id=datee]', parent.frames["week"+i].document).val(datee)-->
        <!--}-->

}





</script>


